/*
  You can use import statements to include partials:
 */
/*
  Define your resets here or use something like Normalize.css if you like
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
   Or add your statements here:
  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 400; }

.home {
  height: 100vh;
  background: url("http://res.cloudinary.com/dzwi57aj6/image/upload/v1519672646/maus/top-background.jpg");
  background-size: cover;
  background-position: top; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.contact-container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

.logo {
  width: 500px;
  height: auto;
  padding: 35px 35px 0px 1%; }

.logo img {
  width: 80%; }

.contact-top {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.2rem;
  color: white;
  position: absolute;
  top: 80px;
  right: 150px; }

.top-bar {
  width: 100%;
  background: #e6007e;
  padding: 10px; }

.motto {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
  padding: 0px 35px 0px 13%; }

.header-container {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  padding: 56px;
  position: relative; }

.header-text {
  width: 30%;
  color: white; }

.header-video {
  margin-left: 10%;
  width: 700px;
  height: 300px;
  float: right;
  position: absolute;
  top: 10.1%;
  right: 11%; }
  .header-video .vid-holder {
    height: auto;
    width: 100%;
    background-size: contain;
    -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75); }

.scrl-dwn {
  width: 2%;
  padding-top: 100px;
  color: white; }
  .scrl-dwn .las {
    writing-mode: vertical-rl;
    text-orientation: sideways-upright;
    transform: rotate(180deg); }
  .scrl-dwn .arrow-box {
    padding-top: 30px; }
    .scrl-dwn .arrow-box .arrow-down {
      height: 40px; }

.card-container {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 85%;
  left: 12%;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.7rem; }
  .card-container .card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    position: relative; }
  .card-container .card-circle {
    position: absolute;
    top: -30%;
    left: 30%; }
    .card-container .card-circle .circle-top {
      width: 150px;
      height: 150px;
      background: white;
      -moz-border-radius: 75px;
      -webkit-border-radius: 75px;
      border-radius: 75px;
      -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
      position: relative; }
      .card-container .card-circle .circle-top .circle-image {
        position: absolute; }
        .card-container .card-circle .circle-top .circle-image .c-img {
          padding: 35px; }
  .card-container .card-desc-space {
    height: 95px; }
  .card-container .card-description {
    padding: 0.5rem  1.9rem 1.1rem 1.9rem;
    line-height: 1.6em;
    text-align: center;
    font-weight: 700;
    color: #072744; }
  .card-container .button {
    display: block;
    background-color: #e6007e;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: .3s ease-out; }
    .card-container .button:hover {
      background-color: #00b0ea; }
  .card-container img {
    max-width: 100%; }

.middle {
  width: 100%;
  height: 50vh;
  background: url("http://res.cloudinary.com/dzwi57aj6/image/upload/v1519679028/maus/middle_pic.png");
  background-size: cover;
  background-position: top;
  padding-top: 100px; }
  .middle .middle-box {
    width: 100;
    height: auto;
    margin: 0 19% 0 13%;
    background: #00b0ea;
    position: absolute;
    top: 145%;
    left: 0;
    right: 0; }
    .middle .middle-box .middle-text {
      padding: 70px;
      text-align: center;
      color: #072744; }
      .middle .middle-box .middle-text h3 {
        font-weight: 700; }
      .middle .middle-box .middle-text span {
        margin-left: 1em; }

.footer {
  height: 70vh;
  width: 100%;
  background-color: white; }
