/*
  Define your resets here or use something like Normalize.css if you like
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.home {
  height: 100vh;
  background: url("http://res.cloudinary.com/dzwi57aj6/image/upload/v1519672646/maus/top-background.jpg");
  background-size: cover;
  background-position: top; }
  .home .wrapper {
    width: 100%;
    margin: 0 auto; }
  .home .contact-container {
    width: 80%;
    margin: 0 auto;
    position: relative; }
    .home .contact-container .logo {
      width: 500px;
      height: auto;
      padding: 35px 35px 0px 1%; }
      .home .contact-container .logo img {
        width: 80%; }
    .home .contact-container .contact-top {
      font-family: 'Ropa Sans', sans-serif;
      font-size: 1.2rem;
      color: white;
      position: absolute;
      top: 95px;
      right: 150px; }
  .home .top-bar {
    width: 100%;
    background: #e6007e;
    padding: 10px; }
  .home .motto {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    padding: 0px 35px 0px 13%; }
  .home .header-container {
    width: 79%;
    margin: 0 auto;
    padding: 60px 140px 60px 60px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    .home .header-container .header-text {
      grid-column: auto / span 2;
      width: 85%;
      color: white; }
    .home .header-container .header-video {
      grid-column: auto / span 3; }
      .home .header-container .header-video .vid-holder {
        height: auto;
        width: 100%;
        background-size: contain;
        -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75); }
    .home .header-container .scrl-dwn {
      width: 2%;
      padding-top: 100px;
      color: white; }
      .home .header-container .scrl-dwn .las {
        writing-mode: vertical-rl;
        text-orientation: sideways-upright;
        transform: rotate(180deg); }
      .home .header-container .scrl-dwn .arrow-box {
        padding-top: 30px; }
        .home .header-container .scrl-dwn .arrow-box .arrow-down {
          height: 40px; }

@media (max-width: 767px) {
  .home {
    height: 150vh; }
    .home .wrapper {
      width: 100%;
      margin: 0 auto; }
    .home .contact-container {
      width: 80%;
      margin: 0 auto; }
      .home .contact-container .logo {
        width: 400px;
        padding: 35px 35px 0px 1%; }
        .home .contact-container .logo img {
          height: 100%; }
      .home .contact-container .contact-top {
        display: none; }
    .home .top-bar {
      width: 100%;
      background: #e6007e;
      padding: 10px;
      margin-top: 30px; }
    .home .motto {
      color: white;
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
      font-size: 1.1rem;
      text-align: left;
      padding: 0px 35px 0px 85px; }
    .home .header-container {
      width: 100%;
      margin: 0 0 20px 0;
      display: contents; }
      .home .header-container .header-text {
        width: 100%;
        color: white;
        padding: 25px 25px 0 25px; }
      .home .header-container .header-video {
        margin-top: 50px; }
        .home .header-container .header-video .vid-holder {
          background-size: contain;
          -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75); }
      .home .header-container .scrl-dwn {
        display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .home {
    height: 110vh; }
    .home .scrl-dwn {
      display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .home {
    height: 140vh; }
    .home .header-container {
      margin-bottom: 20px; }
      .home .header-container .header-video {
        padding-top: 20px; }
    .home .scrl-dwn {
      display: none; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .home .header-container {
    margin-bottom: 250px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    .home .header-container .header-text {
      grid-column: auto / span 1;
      width: 85%;
      color: white; }
    .home .header-container .header-video {
      grid-column: auto / span 2; }
      .home .header-container .header-video .vid-holder {
        height: auto;
        width: 100%;
        background-size: contain;
        -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.75); }
    .home .header-container .scrl-dwn {
      width: 2%;
      padding-top: 100px;
      color: white; }
      .home .header-container .scrl-dwn .las {
        writing-mode: vertical-rl;
        text-orientation: sideways-upright;
        transform: rotate(180deg); }
      .home .header-container .scrl-dwn .arrow-box {
        padding-top: 20px; }
        .home .header-container .scrl-dwn .arrow-box .arrow-down {
          height: 40px; } }

.middle {
  width: 100%;
  height: 50vh;
  background: url("http://res.cloudinary.com/dzwi57aj6/image/upload/v1519679028/maus/middle_pic.png");
  background-size: cover;
  background-position: top;
  padding-top: 100px;
  position: relative; }
  .middle .card-container {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: -120px;
    left: 12%;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.7rem; }
    .middle .card-container .card {
      box-shadow: 0px 1px 5px #555;
      background-color: white;
      position: relative; }
    .middle .card-container .card-circle {
      position: absolute;
      top: -30%;
      left: 30%; }
      .middle .card-container .card-circle .circle-top {
        width: 150px;
        height: 150px;
        background: white;
        -moz-border-radius: 75px;
        -webkit-border-radius: 75px;
        border-radius: 75px;
        -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
        position: relative; }
        .middle .card-container .card-circle .circle-top .circle-image {
          position: absolute; }
          .middle .card-container .card-circle .circle-top .circle-image .c-img {
            padding: 35px; }
    .middle .card-container .card-desc-space {
      height: 95px; }
    .middle .card-container .card-description {
      padding: 0.5rem  1.9rem 1.1rem 1.9rem;
      line-height: 1.6em;
      text-align: center;
      font-weight: 700;
      color: #072744; }
    .middle .card-container .button {
      display: block;
      background-color: #e6007e;
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      transition: .3s ease-out; }
      .middle .card-container .button:hover {
        background-color: #00b0ea; }
    .middle .card-container img {
      max-width: 100%; }

@media (max-width: 767px) {
  .middle {
    width: 100%;
    height: 100vh;
    padding-top: 100px; }
    .middle .card-container {
      margin: 0;
      position: absolute;
      top: -25%;
      left: 0;
      display: grid;
      padding: 1rem;
      grid-gap: 2rem; }
      .middle .card-container .card {
        box-shadow: 0px 1px 5px #555;
        background-color: white;
        position: relative;
        margin: 15px; }
      .middle .card-container .card-circle {
        position: absolute;
        top: -20%;
        left: 30%;
        display: block; }
        .middle .card-container .card-circle .circle-top {
          width: 120px;
          height: 120px;
          background: white;
          -moz-border-radius: 75px;
          -webkit-border-radius: 75px;
          border-radius: 75px;
          -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
          position: relative; }
          .middle .card-container .card-circle .circle-top .circle-image {
            position: absolute; }
            .middle .card-container .card-circle .circle-top .circle-image .c-img {
              padding: 35px; }
      .middle .card-container .card-desc-space {
        height: 80px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .middle .card-container {
    position: absolute;
    top: 70px;
    left: 12%;
    display: grid;
    padding: 0 200px 0 0px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 1.7rem; }
    .middle .card-container .card {
      box-shadow: 0px 1px 5px #555;
      background-color: white;
      position: relative;
      display: block; }
    .middle .card-container .card-circle {
      position: absolute;
      top: -30%;
      left: 15%; }
      .middle .card-container .card-circle .circle-top {
        width: 150px;
        height: 150px;
        background: white;
        -moz-border-radius: 75px;
        -webkit-border-radius: 75px;
        border-radius: 75px;
        -webkit-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 9px 26px -5px rgba(0, 0, 0, 0.25);
        position: relative; }
        .middle .card-container .card-circle .circle-top .circle-image {
          position: absolute; }
          .middle .card-container .card-circle .circle-top .circle-image .c-img {
            padding: 35px; }
    .middle .card-container .card-desc-space {
      height: 95px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .middle {
    height: 90vh; }
    .middle .card-container {
      margin-top: 10px; }
      .middle .card-container .card {
        margin-bottom: 80px; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .middle {
    height: 80vh; }
    .middle .card-container {
      margin-top: 10px;
      position: absolute;
      top: -25px;
      left: 12%; }
      .middle .card-container .card {
        margin-bottom: 100px; }
        .middle .card-container .card .card-circle {
          position: absolute;
          top: -30%;
          left: 30%; } }

.footer {
  height: 80vh;
  width: 100%;
  background-color: white; }
  .footer .middle-rectangle-container {
    height: auto;
    margin: 0 19% 20px 13%;
    background: #00b0ea;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 1.7rem; }
    .footer .middle-rectangle-container .middle-box {
      background: #00b0ea; }
      .footer .middle-rectangle-container .middle-box .middle-text {
        padding: 70px;
        text-align: center;
        color: #072744; }
        .footer .middle-rectangle-container .middle-box .middle-text h3 {
          font-weight: 700; }
        .footer .middle-rectangle-container .middle-box .middle-text span {
          margin-left: 1em; }
  .footer .footer-rectangle-container {
    margin: 0 19% 20px 13%;
    width: 68%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 1.7rem; }
    .footer .footer-rectangle-container .footer-rectangle {
      border: solid 2px #00b0ea; }
      .footer .footer-rectangle-container .footer-rectangle .fot-rec-text {
        height: 70%;
        padding: 1rem 0 3rem 0;
        text-align: center;
        font-weight: 700;
        color: #072744; }
        .footer .footer-rectangle-container .footer-rectangle .fot-rec-text h3 {
          padding: 10px 0 25px 0;
          font-size: 1.1rem; }
        .footer .footer-rectangle-container .footer-rectangle .fot-rec-text p {
          margin: 1rem 4rem 0rem 4rem; }
      .footer .footer-rectangle-container .footer-rectangle .fot-rec-btn {
        padding: 1rem;
        margin: 0 4rem 1rem 4rem;
        background-color: #e6007e;
        display: block;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        transition: .3s ease-out; }
        .footer .footer-rectangle-container .footer-rectangle .fot-rec-btn:hover {
          background-color: #00b0ea; }
  .footer .footer-bottom-rectangle-container {
    width: 68%;
    height: 400px;
    margin: 0 19% 20px 13%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 1.7rem;
    background: #072744; }
    .footer .footer-bottom-rectangle-container .bottom-rectangle {
      margin: 0 auto;
      background: #072744;
      color: white; }
      .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-logo {
        padding: 40px 70px 20px 70px; }
        .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-logo img {
          height: 80px; }
      .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-kontakt {
        text-align: center;
        font-weight: 700; }
        .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-kontakt h3 {
          font-size: 1.2rem;
          font-family: 'Ropa Sans';
          padding: 10px; }
        .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-kontakt p {
          font-size: 1.1rem; }
        .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-kontakt span {
          font-size: 0.8rem; }
        .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-kontakt .footer-kontakt-details {
          border-color: #e6007e;
          border-style: solid;
          border-width: 1px 0 1px 0;
          padding: 20px; }

@media (max-width: 767px) {
  .footer {
    height: 80vh;
    width: 100%;
    background-color: white; }
    .footer .middle-rectangle-container {
      width: 100%;
      margin: 0 0 20px 0;
      display: block; }
    .footer .footer-rectangle-container {
      width: 100%;
      margin: 0 0 20px 0;
      display: block; }
      .footer .footer-rectangle-container .footer-rectangle {
        margin-bottom: 20px; }
    .footer .footer-bottom-rectangle-container {
      width: 100%;
      margin: 0 0 20px 0;
      display: block; }
      .footer .footer-bottom-rectangle-container .bottom-rectangle {
        margin: 0 auto;
        background: #072744;
        color: white; }
        .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-logo {
          padding: 40px 9px 26px 30px; }
          .footer .footer-bottom-rectangle-container .bottom-rectangle .footer-logo img {
            height: 80px; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 400; }

.body-wrapper {
  width: 100%;
  margin: 0 auto; }
