
 @import "reset.scss";
 @import "variables.scss";
 @import "home.scss";
 @import "middle.scss";
 @import "footer.scss";
 @import "base.scss";
 @import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&subset=latin-ext');
 @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext');
 
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

 
body, html {
  height: 100%;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  font-weight: 400;
}

.body-wrapper {
  width: 100%;
  margin: 0 auto;
}


 
 

